// Featured grid styles

.featured-grid {
  @include clearfix;
  margin-bottom: 2em;

  .entry-header {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    margin-top: 0;
  }

  .entry-title {
    background: linear-gradient(rgba(black, 0), rgba(black, 0.6));
    @include font-size(18);
    line-height: 1.1;
    letter-spacing: normal;
    text-shadow: 1px 1px 0 rgba(black, 0.6);
    margin: 0 auto;
    text-align: center;
    padding: em(6) em(3) em(3);
  }

  a .entry-title {
    color: #fff;
    text-decoration: none;
  }
}

.featured-item {
  position: relative;
  width: (percentage(1/4) - 2);
  float: left;
  margin: 0;
  line-height: 0;
  margin-right: 2%;

  &:nth-of-type(4n+4) {
    margin-right: 0;
  }

  @include respond-to(small) {
    width: percentage(1/2) - 2;

    &:nth-of-type(2n+2) {
      margin-right: 0;
    }
  }

  .grid-image {
    overflow: hidden;
    transition: opacity 400ms ease;
    opacity: 1;

    img {
      width: 100%;
      transition: transform 400ms ease;
    }

    &:hover {
      opacity: 0.6;

      img {
        transform: scale(1.07);
      }
    }
  }
}
