// Header styles
#masthead {
  @include span-columns(4);
  padding: 0.5em 0;

  @include respond-to(medium) {
    @include span-columns(9);

  }
}

.site-logo {
  vertical-align: middle;

  @include respond-to(medium) {
    width: em(100);
  }
}

.site-title {
  @include font-size(30);
  display: inline-block;
  font-weight: 300;
  margin-bottom: 0;

  @include respond-to(medium) {
    @include font-size(20);
  }
}

.site-description {
  @include visuallyhidden();
}

@include respond-to(medium-up) {

  .main-navigation {
    @include span-columns(8);
    @include omega();
  }
}



