//////////////////
// Homepage Styles
//////////////////

.hero {
  position: relative;
  background: $black;
  backface-visibility: hidden;
}

.hero-block {
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  opacity: 1;
  backface-visibility: hidden;

  @include respond-to(large) {
    padding-top: 67%;
    width: 100%;
    z-index: 1;
  }
}

@include respond-to(large-up) {

  .hero-block {
    @include absolute-center();
    margin: 0 auto;
  }
}

.hero-title {
  width: 100%;
  z-index: 3;
  text-align: center;
  display: table;
  
  .hero-table {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 20%;
  }

  p {
    @include font-size(50);
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: 600;
    line-height: .75;
    opacity: 0;
    transition: opacity 1s ease;

    .fixed & {
      opacity: 1;
    }

    @include respond-to(large) {
      @include font-size(40);
    }

    @include respond-to(medium) {
      @include font-size(40);
    }

    @include respond-to(small) {
      @include font-size(20);
    }
  }

  .letter {
    @include font-size(550);
    font-family: 'trajan', 'Palatino', 'Palatino Linotype', Georgia, Times, 'Times New Roman', serif;
    display: block;
    font-weight: normal;
    letter-spacing: .1em;
    
    .fixed & {
      opacity: 0.8;
    }

    @include respond-to(large) {
      @include font-size(350);
    }

    @include respond-to(medium) {
      @include font-size(220);
    }

    @include respond-to(small) {
      @include font-size(120);
    }
  }
  
  @include respond-to(large) {
    position: absolute;
    top: 25%;
    display: block;

    .hero-table {
      padding-bottom: 0;
      display: block;
      
      p {
        opacity: 0.8;
      }
    }
  }
}

.notifications {
  z-index: 5;
  position: fixed;
  top: 150px;
  right: 0;
  background: yellow;

  p {
    color: black;
  }
}

.hero-video {
  position: relative;
  overflow: hidden;
  text-align: center;
  // Height set via js

  video {
    background: transparent url(images/poster.jpg) center top no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
  }

  @include respond-to(large) {
    display: none;
  }
}

.stuck {
  position:fixed;
  top:0;
}

.fixed {

  .hero-block {
    position: fixed;
    top: 71px;
    z-index: 5;
  }

  .hero-title {
    position: relative;
    z-index: 6;
  }
}

#map {
  background: #2C2C2A;
  padding-top: 20%;

  img {
    margin: 0 auto 1em;
    display: block;
  }

  @include respond-to(large) {
    padding:5% 0;
  }
}

.places {
  background: $black;
  width: 100%;
  @include clearfix;
  text-align: center;

  ul {
    @include container;
    text-align: center;
    margin: 0 auto 1em;
    padding: 2em 0 0;

    li {
      list-style-type: none;
      display: inline-block;
      width: (100% / 6.25);
      text-align: center;
      margin-bottom: 2em;

      @include respond-to(medium) {
        width: 25%;
      }

      @include respond-to(small) {
        width: 100%;
      }

      .destination-title {
        text-transform: uppercase;
      }

      a,
      a:visited {
        color: #fff;
        text-decoration: none;
        transition: color 200ms ease;
      }

      a:hover {
        color: $gold;
      }
    }
  }
}

#places-menu {
  display: none;

  @include respond-to(small) {
    margin: 1em auto;
    display: inline-block;
    text-align: center;
  }
}

.places-list {
  @include respond-to(small) {
    display: none;
  }
}

#homepage-content {
  padding: em(50) 0 em(20);

  .entry-header {
    display: none;
  }

  @include respond-to(large) {
    padding: 0;
  }
}
