/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
@import "structure";
@import 'posts-and-pages';
@import 'header';
@import 'home';
@import 'footer';
@import 'sidebar';
