// Magic parallax
@include respond-to(large-up) {

  $perspective : 1 !default;

  @mixin parallax(
    $distance    : 0
    ) {
    transform:
      translateZ($distance * $perspective * 1px)
      scale(abs($distance - 1))
    ;
    z-index: $distance * 1000;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
  }

  html.single,
  body.single {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body.single {
    overflow: auto;
    perspective: 1px;
    transform-style: preserve-3d;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
  }
  body.single,
  body.single * {
    transform-style: preserve-3d;
  }

  .entry-header.wide {
     @include parallax(-.1);
     top: -40px; // A 'magic' number. Bad, I know, but basically we're minussing it enought to get it behind the nav in all breakpoints

    .entry-title {
      @include parallax(.3);
    }
  }  
}

// Kill parallax on IE and mobile
@media all and (-ms-high-contrast: none) and (min-width: 960px), (-ms-high-contrast: active) {
  body.single {
    perspective: none;
    transform-style: flat;
  }

  .entry-header.wide {
    transform: none;
    z-index: 1;

    .entry-title {
      transform: none;
    }
  }
}

.wp_is_mobile {
  body.single {
    perspective: none;
    transform-style: flat;
  }

  .entry-header.wide {
    transform: none;
    z-index: 1;

    .entry-title {
      transform: none;
    }
  }
}
