/**
 * Gravity forms overrides
 *
 * everything need !important because gravity forms default css comes after this.
 */

.gform_wrapper {
  @include center-block;
  max-width: em(680) !important;
  margin: 1em auto !important;
}

label.gfield_label {
  color: $color__link;
  font-weight: normal !important;
}

.gform_wrapper .ginput_complex label {
  color: palette(gray);
}