//Color variables, functions and mixins
$colors: (
  red: #ff4136,
  blue: #4A3A96, // teal
  yellow: #ffdc00,
  orange: #ff851b,
  purple: #7154AD,
  gray: #999
);

$variations: (
  light: (
    function: tint,
    parameters: 15%
  ),
  dark: (
    function: shade,
    parameters: 10%
  ),
  fade: (
    function: rgba,
    parameters: .7
  ),
  gray: (
    function: grayscale
  )
);

@function color-variation($color, $variation: false) {

  @if map-has-key($colors, $color) {
    $color: map-get($colors, $color);

  } @else {

    @if type-of($color) == color {
      @warn "Color exists but is not in your color list";

    } @else {
      @error "Invalid color name: `#{$color}`.";
    }
  }

  @if $variation {
    @if not map-has-key($variations, $variation) {
      @error "Invalid $variation: `#{$variation}`.";

    } @else {
      $this-variation: map-get($variations, $variation);
      $func: map-get($this-variation, function);

      @if map-get($this-variation, parameters) {
        $param: map-get($this-variation, parameters);
        @return call($func, $color, $param);
      }

      @return call($func, $color);
    }
  }

  @return $color;
}

// Alias function to make typing easier:
@function palette($color, $variation:false) {
  @return color-variation($color, $variation);
}

// Alias function to make typing easier:
@function palette($color, $variation:false) {
  @return color-variation($color, $variation);
}

$color__background-body: #fff;
$color__background-screen: $color__background-body;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #444;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: palette(blue);
$color__link-visited: palette(purple);
$color__link-hover: palette(blue, dark);
$color__text-main: $color__text-screen;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
