
// Susy Settings //

$susy: (
  columns: 12,
  gutters: .25,
  global-box-sizing: border-box,
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

// Breakpoints

$viewport-increment: 1px;

$xxl: 1440px;
$xxl-up: $xxl + $viewport-increment;

$xl: 1200px;
$xl-up: $xl + $viewport-increment;

$large: 1024px;
$large-up: $large + $viewport-increment;

$medium: 768px;
$medium-up: $medium + $viewport-increment;

$small: 568px;
$small-up: $small + $viewport-increment;

// Structure

$sidebar: false;
