h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.075;
  margin: 0 0 em(12);
}

h1 {
  @include font-size(48);

  @include respond-to(small) {
    @include font-size(36);
  }
}

.sidebar h1 {
  @include font-size(28);
}

.site-title {
  @include font-size(16);
}

.page-title,
.entry-title {
  margin-bottom: 0.5em;
  text-align: left;
}
