// Import mixin partials
@import "utilities";
@import "grid-mixins";
@import "colors";
@import "image-mixins";

@mixin icon($fontfamily: foundation-icons) {
  font-family: "#{$fontfamily}";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  text-decoration: inherit;
}
