// Overall page structure

.row {
  @include outer-container();
  padding-left: em(15);
  padding-right: em(15);
}

#content {
  padding-top: 2em;
  padding-bottom: 2em;
}

.hero {
  margin-bottom: em(30);
}

// Settings for sidebar and content area widths
// and sidebar location. Variable set in "variables/_grid-settings.scss"

@if $sidebar == right {

  .content-area {
    @include span-columns(8);

    @include mq($max, $medium) {
      @include span-columns(12)
    }
  }

  .sidebar {
    @include span-columns(4);

    @include mq($max, $medium) {
      @include span-columns(12)
    }
  }
}

@else if $sidebar == left {

  .content-area {
    @include span-columns(8);
    @include shift(4);

    @include mq($max, $medium) {
      @include span-columns(12);
      @include shift(0);
    }
  }
  .sidebar {
    @include span-columns(4);
    @include shift(-12);

    @include mq($max, $medium) {
      @include span-columns(12);
      @include shift(0);
    }
  }
}

@else {
  .content-area {
    @include span-columns(12);
  }
}

