ul,
ol {
  margin: 0 0 1.5em 1em;
  padding: 0 0 0 1em;
}

ul {
  list-style: disc;
}

ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
  }
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

.social-links {
  float: left;
  list-style: none;
  padding: 0;
  width: 20%;

  .entry-content & {
    width: 100%;
    margin: 1.4em 0 1em;
  }

  ul li {
    background: rgba(white, .5);
    display: inline-block;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  .linkedin,
  .facebook,
  .twitter,
  .googleplus,
  .instagram,
  .pinterest {
    @include hide-text;
    display: block;
    width: 32px;
    height: 32px;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 4px;

    span {
      display: block;
      @include font-size(24);
    }
  }

  @include respond-to(medium) {
    width: 100%;
    float: none;

    ul {
      text-align: center;

      .entry-content & {
        text-align: left;
      }
    }
  }
}

