ul.nav-list {
  @include font-size(14);
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;

    @include respond-to(medium) {
      padding: em(8) 0;
    }

    a,
    a:visited {
      color: white;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: $color__link;
      }
    }

    &.current_page_item {

      a {
        color: $color__link;
      }
    }
  }
}

.footer-nav {

  .menu {
    @extend .nav-list;
    text-align: right;


    li {
      display: inline-block;
      margin-right: 1em;

      @include respond-to(medium) {
        margin: 0 0.5em;
      }
    }

    @include respond-to(medium) {
      text-align: center;
      margin: 1em auto;
    }
  }
}